<a href="https://colab.research.google.com/github/thejuleseffect/principlesofprogramming/blob/main/Lists_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  colors = ['red', 'blue', 'green']
  print(colors[0])    ## red
  print(colors[2])    ## green
  print(len(colors))  ## 3

red
green
3

In [ ]:
  b = colors   ## Does not copy the list

In [ ]:
  squares = [1, 4, 9, 16]
  sum = 0
  for num in squares:
    sum += num
  print(sum)  ## 30

30

In [ ]:
  list = ['larry', 'curly', 'moe']
  if 'curly' in list:
    print('yay') ## yay

yay

In [ ]:
  ## print the numbers from 0 through 99
  for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
  ## Access every 3rd element in a list
  i = 0
  while i < len(a):
    print(a[i])
    i = i + 3 # When this block of code is run it prints out a NameError because name 'a' is not defined

NameError: name 'a' is not defined

In [ ]:
  list = ['larry', 'curly', 'moe']
  list.append('shemp')         ## append elem at end
  list.insert(0, 'xxx')        ## insert elem at index 0
  list.extend(['yyy', 'zzz'])  ## add list of elems at end
  print(list)  ## ['xxx', 'larry', 'curly', 'moe', 'shemp', 'yyy', 'zzz']
  print(list.index('curly'))    ## 2

  list.remove('curly')         ## search and remove that element
  list.pop(1)                  ## removes and returns 'larry'
  print(list)  ## ['xxx', 'moe', 'shemp', 'yyy', 'zzz']

['xxx', 'larry', 'curly', 'moe', 'shemp', 'yyy', 'zzz']
2
['xxx', 'moe', 'shemp', 'yyy', 'zzz']

In [ ]:
  list = [1, 2, 3]
  print(list.append(4))   ## NO, does not work, append() returns None
  ## Correct pattern:
  list.append(4)
  print(list)  ## [1, 2, 3, 4]

None
[1, 2, 3, 4, 4]

In [ ]:
  list = []          ## Start as the empty list
  list.append('a')   ## Use append() to add elements
  list.append('b')
  print(list) #.append() adds elements to the list and when it's printed out the elements added are printed

['a', 'b']

In [ ]:
  list = ['a', 'b', 'c', 'd']
  print(list[1:-1])   ## ['b', 'c']
  list[0:2] = 'z'    ## replace ['a', 'b'] with ['z']
  print(list)         ## ['z', 'c', 'd']

['b', 'c']
['z', 'c', 'd']